ocp_host: https://<OpenShift API Hostname>:6443
ocp_username: kubeadmin
ocp_token: "<OpenShift Token>"
aap_manifest_path: "<Local Path to AAP Manifest ZIP File for Licensing AAP>"
demo_name: demo_aiops